.whiteframedemoBasicUsage(
  layout='row'
  layout-padding=''
  layout-wrap=''
  layout-fill=''
  style={'padding-bottom':'32px'}
  ng-cloak=''
)
  md-whiteframe.md-whiteframe-1dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-1dp
  md-whiteframe.md-whiteframe-2dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-2dp
  md-whiteframe.md-whiteframe-3dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-3dp
  md-whiteframe.md-whiteframe-4dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-4dp
  md-whiteframe.md-whiteframe-5dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-5dp
  md-whiteframe.md-whiteframe-6dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-6dp
  md-whiteframe.md-whiteframe-7dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-7dp
  md-whiteframe.md-whiteframe-8dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-8dp
  md-whiteframe.md-whiteframe-9dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-9dp
  md-whiteframe.md-whiteframe-10dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-10dp
  md-whiteframe.md-whiteframe-11dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-11dp
  md-whiteframe.md-whiteframe-12dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-12dp
  md-whiteframe.md-whiteframe-13dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-13dp
  md-whiteframe.md-whiteframe-14dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-14dp
  md-whiteframe.md-whiteframe-15dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-15dp
  md-whiteframe.md-whiteframe-16dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-16dp
  md-whiteframe.md-whiteframe-17dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-17dp
  md-whiteframe.md-whiteframe-18dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-18dp
  md-whiteframe.md-whiteframe-19dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-19dp
  md-whiteframe.md-whiteframe-20dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-20dp
  md-whiteframe.md-whiteframe-21dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-21dp
  md-whiteframe.md-whiteframe-22dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-22dp
  md-whiteframe.md-whiteframe-23dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-23dp
  md-whiteframe.md-whiteframe-24dp(flex=45 flex-gt-sm=35 flex-gt-md=25 layout='' layout-align='center center')
    span .md-whiteframe-24dp
